/* Custom properties */
:root {
    --clr-background: #0B2434;
    --clr-accent: #59E391;
    --clr-yellow: #ffff00;
    --clr-light: #F5F5F5;
    --clr-lighter: #FFFFFF;
    --clr-text: #4A4E74;
    --clr-text-light: #636892;
    --clr-text-dark: #2B283A;
    --clr-text-winner: #ff3535;
    --clr-button: #5035FF;
}

/* Layout */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Karla', sans-serif;
    background-color: var(--clr-background);
    padding: 1.25em;  
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--clr-light);
    height: 500px;
    width: 500px;
    outline: 10px solid var(--clr-yellow);
    border-radius: 20px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Typography */
p {
    color: var(--clr-text);
    font-weight: bold;
}

/* App */
.title {
    font-size: 3rem;
    color: var(--clr-text-dark);
    margin: 0;
}

.instructions {
    font-weight: 700;
    text-align: center;
    font-size: 1.2rem;
    color: var(--clr-text-light);
    line-height: 1.2;
    margin: 0.5em 0;
}

.winner {
    font-weight: 700;
    font-size: 1.3rem;
    color: var(--clr-text-winner);
    line-height: 1.2;
    margin: 1em 0;
}

.title,
.winner {
    text-transform: uppercase;
}

/* Dice */
.dice-container {
    display: grid;
    grid-template: auto / repeat(5, 1fr);
    gap: 0.5em 1em;
}

.die-face {
    height: 3.125em;
    width: 3.125em;
    background-color: var(--clr-lighter);
    color: var(--clr-text-dark);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    cursor: pointer;
}

.die-face.isHeld {
    background-color: var(--clr-accent);
}

/* Button */
.roll-dice {
    font-family: 'Karla', sans-serif;
    font-size: 1.4rem;
    background-color: var(--clr-button);
    color: var(--clr-lighter);
    padding: 0.5em 1em;
    border: none;
    border-radius: 10px;
    margin: 1em 0 0.5em;
    cursor: pointer;
}

.roll-dice:focus-visible,
.roll-dice:hover {
    outline: none;
    transform: scale(0.95);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

/* .roll-dice:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
} */

/* Stats */
.stats-container,
.rolls-best,
.time-best {
    display: flex;
    align-items: center;
}

.stats-container {
    gap: 2em;
    margin: 0.3em auto 0.7em;
    font-size: 1.2rem;
}

.rolls-best,
.time-best {
    flex-direction: column;
}

.score-text {
    font-size: 2rem;
    color: var(--clr-text-winner);
    margin-top: 0.2em;
}

/* Media queries */